:host {
  display: block;
}

.tag {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  display: flexbox;
  width: auto;
  border-radius: 4px;
  padding: 0 4px;
  margin: 2px;
}
